<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.so55596" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Oliwier so55596</name>
    <description>Weather App</description>
    <author email="so55596@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Oliwier Szwałek
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="electron">
        <icon src="res/electron/pogodaIcon.png" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
</widget>
